html, body{
    margin: 0;
    padding: 0;
    height: 100%  
}
body{
    background-image: url("../assets/istockphoto-1148595387-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h2, h3{
    margin: 0;
    padding: 0;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
section{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 70%;
    margin: 0 auto;
}
.btn_option_style{
    height: 60px;
    width: 90%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
}

.option1, .option2, .option3, .option4{
    background-color: rgb(146, 145, 165);
}
#siguiente, .btnReturnPlay{
    background-color: rgb(255, 0, 170);
}
#option1, #option2, #option3, #option4, #siguiente{
    color: white;
    cursor: pointer;
    font-size: 20px;
}
#option1:hover, #option2:hover, #option3:hover, #option4:hover, #siguiente:hover, .btnReturnPlay{
    filter: brightness(80%);
}

#siguiente, .btnReturnPlay{
    width: 50%;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 5px;
    cursor: pointer;
}
.btnReturnPlay{
    width: 100%;
    color: white;
    height: 40px;
    margin-bottom: 30px;

}
.quiz{
    margin-top: 40px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.styleGrafica{
    height: 200px;
    width: 50px;
    background-color: rgba(55, 139, 62, 0.9);
    border-radius: 5px;
    padding: 10px;
}
.quiz h3{
    padding: 20px;
    font-family: 'ArcadeClassic', sans-serif;
}

.styleOptionActive{
    background-color: yellowgreen;
}
.styleOptionInactive{
    background-color: red;
}
.divPuntuacion{
    border-radius: 100px;
    background-color: yellowgreen;
    width: 250px;
    border: 10px solid rgb(99, 99, 177);
}

.stylePuntuacion{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: rgb(43, 119, 226);
    font-family: 'ArcadeClassic', sans-serif;
}
.styleParrafoRestultado{
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 40px;
    color: yellowgreen;

}
.styleParrafoPregunta{
    color: rgb(231, 232, 227);
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 30px;
    background: rgb(255, 0, 170);
    border-radius: 10px;
}
.textoChart{
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'ArcadeClassic', sans-serif;
}
/*Fuegos Artificiales*/
.firework {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    aspect-ratio: .9;
    background:
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
  }
  @keyframes firework {
    0% { 
      transform: translate(-40%, 60vh);
      width: 0.5vmin;
      opacity: 1;
    }
    50% { 
      width: 0.5vmin;
      opacity: 1;
    }
    100% { 
      width: 45vmin; 
      opacity: 0; 
    }
  }
  .firework {
    animation: firework 2s infinite;
  }
  .firework,
  .firework::before,
  .firework::after {
    content: "";
  }
  
  .firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important; 
  }
  
  .firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
  }
/*Fuegos Artificiales*/

/*Reloj*/
#timer {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff0;  
}