html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
  body {
    font-family: 'ArcadeClassic', sans-serif; 
    background-image: url("../assets/istockphoto-1148595387-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
#div-inicio {
    position: absolute; 
    top: 0.1;
    left: 0;
    bottom: 1;
    right: 0;
    height: 90px;
    color: rgb(235, 243, 6);
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 45px;
    line-height: 90px;
    animation: blink 1s steps(4, start) infinite; 
    margin-top: 29px ;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

#btnContenedor {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: linear-gradient(45deg, rgba(255,0,132,1) 0%, rgba(218,22,123,0.54) 55%, rgba(255,0,132,0.17) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0084', GradientType=1 );
    padding: 10rem;
    border-radius: 100px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    #btnContenedor{
      width: 40%;
    }
}

.btnInicio {
    font-family: 'ArcadeClassic', sans-serif;                                             
    background-color: #2f1c76;
    color: white;
    font-size: 20px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.9s, transform 0.3s;
    width: 100%;
    height: 80px;
    text-align: center;
}

.btnInicio:hover {
    background-color:rgb(173, 189, 28);
    transform: scale(1.05); /*Aumenta Escala en que se ve el boton*/
}

.modal-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.modal{
  background-color: #d040d7;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.modal h3{
  margin: 0;
  color: white;
  letter-spacing: 5px;
  font-size: 40px;
}

.modal label{
  font-size: 20px;
}
.modal input{
  padding: 25px 30px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: rgb(71, 47, 159);
  color: white;
  border: none;
}
.modal input::placeholder{
  color: white;
}
.showContainer{
  pointer-events: auto;
  opacity: 1;
}

#cancelar, #salir{
  padding: 5px 15px;
  text-transform: uppercase;
  background-color: rgb(169, 169, 204);
  border: 1px solid rgb(26, 24, 24);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: none;
}
#salir{
  display: none;
  width: 100%;
  height: 30px;
}


/*Resultado*/
.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  aspect-ratio: 1;
  background: radial-gradient(circle, yellow 10px, #0000 0) 50% 0%; 
  background-size: 10px 10px; 
  background-repeat: no-repeat;
}

@keyframes firework {
  0% { 
    transform: translate(-50%, 60vh);
    width: 10px; 
    opacity: 1;
  }
  50% { 
    width: 10px; 
    opacity: 1;
  }
  100% { 
    width: 900px; 
    opacity: 0;
  }
}

.firework {
  animation: firework 2s infinite;
}

.firework,
.firework::before,
.firework::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.firework::before,
.firework::after {
  background: inherit;
  top: 0;
  left: 0;
}

.firework::before {
  transform: translate(-50%, -50%) rotate(25deg); 
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-37deg);
}

.modal .enviar{
  background-color: rgb(155, 227, 31);
  padding: 20px 50px;
  cursor: pointer;
}
.styleProfile{
  width: 100px;
  height: 100px;
  display: flex;
}
