html, body{
    margin: 0;
    padding: 0;
    height: 100%  
}
body{
    background-image: url("../assets/img/istockphoto-1148595387-612x612.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 768px) {
    body{
      background-position: unset;
    }
}
h2, h3{
    margin: 0;
    padding: 0;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
section{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 70%;
    margin: 0 auto;
}
.btn_option_style{
    height: 60px;
    width: 90%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
}

.option1, .option2, .option3, .option4{
    background-color: rgb(146, 145, 165);
}
#siguiente, .btnReturnPlay{
    background-color: rgb(255, 0, 170);
}
#option1, #option2, #option3, #option4, #siguiente{
    color: white;
    cursor: pointer;
    font-size: 20px;
}
#option1:hover, #option2:hover, #option3:hover, #option4:hover, #siguiente:hover, .btnReturnPlay{
    filter: brightness(80%);
}

#siguiente, .btnReturnPlay, .buttonHomeStyle{
    width: 50%;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.btnReturnPlay{
    width: 100%;
    color: white;
    height: 40px;
    margin-bottom: 30px;

}
.quiz{
    margin-top: 40px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.styleGrafica{
    height: 200px;
    width: 50px;
    background-color: rgba(55, 139, 62, 0.9);
    border-radius: 5px;
    padding: 10px;
}
.quiz h3{
    padding: 20px;
    font-family: 'ArcadeClassic', sans-serif;
}

.styleOptionActive{
    background-color: yellowgreen;
}
.styleOptionInactive{
    background-color: red;
}
.divPuntuacion{
    border-radius: 100px;
    background-color: yellowgreen;
    width: 250px;
    border: 10px solid rgb(99, 99, 177);
}

.stylePuntuacion{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: rgb(43, 119, 226);
    font-family: 'ArcadeClassic', sans-serif;
}
.styleParrafoRestultado{
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 40px;
    color: yellowgreen;

}
.styleParrafoPregunta{
    color: rgb(231, 232, 227);
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 30px;
    background: rgb(255, 0, 170);
    border-radius: 10px;
}
.textoChart{
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'ArcadeClassic', sans-serif;
}
/*Fuegos Artificiales*/
.firework {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    aspect-ratio: .9;
    background:
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
  }
  @keyframes firework {
    0% { 
      transform: translate(-40%, 60vh);
      width: 0.5vmin;
      opacity: 1;
    }
    50% { 
      width: 0.5vmin;
      opacity: 1;
    }
    100% { 
      width: 45vmin; 
      opacity: 0; 
    }
  }
  .firework {
    animation: firework 2s infinite;
  }
  .firework,
  .firework::before,
  .firework::after {
    content: "";
  }
  
  .firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important; 
  }
  
  .firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
  }
/*Fuegos Artificiales*/

/*Reloj*/
#timer {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff0;  
}

.styleScores{
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 46, 46);
    gap: 10px;
    margin-top: 20px;
    text-align: center;
    width: auto;
    color: white;
    border-radius: 10px;
    border-bottom: 10px solid rgb(228, 12, 221);
    border-top: 10px solid rgb(228, 12, 221)
}
#div-inicio {
    position: absolute; 
    top: 0.1;
    left: 0;
    bottom: 1;
    right: 0;
    height: 90px;
    color: rgb(235, 243, 6);
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 45px;
    line-height: 90px;
    animation: blink 1s steps(4, start) infinite; 
    margin-top: 29px ;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

#btnContenedor {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: linear-gradient(45deg, rgba(255,0,132,1) 0%, rgba(218,22,123,0.54) 55%, rgba(255,0,132,0.17) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0084', GradientType=1 );
    padding: 10rem;
    border-radius: 100px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    #btnContenedor{
      width: 40%;
    }
}

.btnInicio {
    font-family: 'ArcadeClassic', sans-serif;                                             
    background-color: #2f1c76;
    color: white;
    font-size: 20px;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.9s, transform 0.3s;
    width: 100%;
    height: 80px;
    text-align: center;
}

.btnInicio:hover {
    background-color:rgb(173, 189, 28);
    transform: scale(1.05); /*Aumenta Escala en que se ve el boton*/
}

.modal-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.modal{
  background-color: #d040d7;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.modal h3{
  margin: 0;
  color: white;
  letter-spacing: 5px;
  font-size: 40px;
}

.modal label{
  font-size: 20px;
}
.modal input{
  padding: 25px 30px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: rgb(71, 47, 159);
  color: white;
  border: none;
}
.modal input::placeholder{
  color: white;
}
.showContainer{
  pointer-events: auto;
  opacity: 1;
}

#cancelar, #salir{
  padding: 5px 15px;
  text-transform: uppercase;
  background-color: rgb(169, 169, 204);
  border: 1px solid rgb(26, 24, 24);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: none;
}
#salir{
  display: none;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

/*opciones de usuario*/
#optionsContainer{
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: linear-gradient(45deg, rgba(255,0,132,1) 0%, rgba(218,22,123,0.54) 55%, rgba(255,0,132,0.17) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0084', GradientType=1 );
    padding: 5rem;
    border-radius: 100px;
    margin: 0 auto;
}
.contenedorFormularios{
  display: flex;
}
.modal-container2{
  width: auto;
}

/*Resultado*/
.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  aspect-ratio: 1;
  background: radial-gradient(circle, yellow 10px, #0000 0) 50% 0%; 
  background-size: 10px 10px; 
  background-repeat: no-repeat;
}

@keyframes firework {
  0% { 
    transform: translate(-50%, 60vh);
    width: 10px; 
    opacity: 1;
  }
  50% { 
    width: 10px; 
    opacity: 1;
  }
  100% { 
    width: 900px; 
    opacity: 0;
  }
}

.firework {
  animation: firework 2s infinite;
}

.firework,
.firework::before,
.firework::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.firework::before,
.firework::after {
  background: inherit;
  top: 0;
  left: 0;
}

.firework::before {
  transform: translate(-50%, -50%) rotate(25deg); 
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-37deg);
}

.modal .enviar{
  background-color: rgb(155, 227, 31);
  padding: 20px 50px;
  cursor: pointer;
}
.styleProfile{
  width: 100px;
  height: 100px;
  display: flex;
  margin-bottom: 20px;
  border-radius: 100px;
}

.modal-ranking{
  background-image: url("../assets/img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 70%;
  border-radius: 20px;
  opacity: .97;
  
}
.modal-ranking h3{
  font-family: 'ArcadeClassic', sans-serif; 
  color: rgb(0, 255, 8);
}

/* Botón de Google */
.google-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: white;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 40%;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

.google-button:hover {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.google-button img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.styleTabla{
  color: rgb(236, 248, 7);
  padding: 10px;
  margin: 0 auto;
  display: flex;
  width: 80%;
  margin-top: 15px; 
  border-collapse: separate;
  border-spacing: 10px 5px; 
  justify-content: center;
}
.styleTabla td{
  
  margin:0 5px

}
#modal_ranking{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
 
}
@media (min-width:768px ) {
  .styleTabla td{
  
    margin:0 20px;
    font-size: 20px;
  }
}

.ct-chart {
    background-color: #04f75d; /* Cambia el color de fondo del gráfico */
    padding: 20px; /* Añade padding alrededor del gráfico */
    border-radius: 10px; /* Bordes redondeados para el gráfico */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor del gráfico */
}

.ct-grid {
    stroke: #dddddd; /* Cambia el color de las líneas de la cuadrícula */
}

.ct-label {
    font-size: 30px; /* Cambia el tamaño de la fuente de las etiquetas */
    color: #060606; 
}